@border: 1px solid rgba(0,0,0,.1);
@color: fade(#00f, 70%);

h1, h2, h3, h4, ul, ol, div, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

* {
	box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #fafafa;
}

html {
    font-size: 100%;
    font-family: "Helvetica Neue", Calibri, Arial, sans-serif;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

h2, h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: @color;
    font-weight: 200;

    &:not(:last-child) {
        margin-bottom: 1rem !important;
    }
}

h3 {
    font-size: .6rem;
    color: @color;
    text-transform: uppercase;
    margin-bottom: .25rem;
    display: none;
}

h4 {
    font-size: .8rem;
}

p {
    font-size: .7rem;
}

.hide {
    display: none;
}

.group + .group {
    margin-top: .5rem;
}

.project {
    border-bottom: @border;
    padding: .5rem;

    display: flex;
    flex-wrap: wrap;
}

.content {
    @media (min-width: 40rem) {
        display: flex;

        .preview {
            flex: 1 0 0;
        }

        .aside {
            flex: 0 0 15rem;
        }
    }
}

.preview {
    padding: .5rem;
}

.aside {
    padding: .5rem;
}

.comments-list {
    ul {
        list-style: none;    
    }
    
    li:first-child ~ li h4 {
        margin-top: .5rem;
    }
}

.comments-add {
    margin-top: 1rem;
}

.block {
    margin-bottom: 3rem;
}

.layout {
    @media (min-width: 40rem) {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;

        .block {
            flex-grow: 0;
            flex-shrink: 0;

            > div {
                margin: 0 10px;
            }
        }


    }
}

/* GUI */

a:not(.btn) {
    color: @color;
    text-decoration: none;
    border-bottom: @border;

    transition: border-bottom-color .3s;

    &:hover {
        border-bottom-color: @color;
    }
}

button, .btn {
    border-radius: 4px;
    border: 1px solid @color;
    background: fade(@color, 80%);
    padding: .3em .8em;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    transition: background .3s;

    &:hover {
        background: @color; 
    }
}

label {
    color: @color;
    text-transform: uppercase;
    font-size: .7rem;
    display: block;

    .optional & {
        color: #aaa;
    }
}

.dropzone {
    border: 1px dotted fade(@color, 30%);
    background: fade(@color, 4%);
    color: @color;

    .dz-message {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }

    transition: background .3s;

    &:hover {
        background: #fff;
    }
}

.input-text, .input-input, .input-textarea {
    border: 1px solid fade(@color, 30%);
    background: fade(@color, 4%);
    display: block;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
    padding: .3em;

    .optional & {
        border-color: #ccc;
        background: #fafafa;
    }

    transition: background .3s;

    &:hover, &:focus {
        background: #fff;
    }
}

.app-intro .gui-block:first-child, .view-confirm-pass, .view-message {
    margin-top: 20vh;
}

.gui-block {
    max-width: 20rem;
    margin: auto;
    border-radius: 8px;
    border: @border;
    padding: 2rem;
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    background: #fff;
}

.gui-block-divider {
    max-width: 20rem;
    margin: 2rem auto;
    text-align: center;
    color: rgba(0,0,0,.3);
}

.view-message {
    text-align: center;

    p {
        font-size: .8rem;
        color: rgba(0,0,0,.3);
    }

    p + p {
        margin-top: .7rem;
    }
}

.header {
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.headline-time {
    color: rgba(0,0,0,.3);
}

.headline-permalink {
    font-size: .8rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;

    .group {
        padding-bottom: 2rem;
    }

    .group + .group {
        margin-top: 0;
    }
}

.group-layout {
    padding: 0 1rem;
}

.group-preview {
    img, iframe {
        display: block;
        margin: auto;
        border: none;
        overflow: hidden;
    }
}

.group-data, .dropdata-meta > .group, .dropdata-meta > h2 {
    min-width: 10rem;
    padding-top: .5rem;
    max-width: 30rem;
    margin: auto;
}

.group-title {
    text-align: center;

    &:not(:last-child) {
        border-bottom: @border;
    }
}

.dropdata-meta {
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdata-meta h2 {
    margin-top: 2rem;
}

.dropdata-elements > .group {
    padding: 2rem 0;
    border-bottom: @border;
}

.dropdata-submit {
    padding: 2rem 0 30vh;
    border-top: @border;
    text-align: center;
    margin-top: 2rem;
}

.group-title-holder {
    text-align: center;
}

.group-title-reload {

    cursor: pointer;

    &:not(:first-child) {
        margin-left: 20px;
    }
}